*{
    margin: 0;
    padding: 0;
}

.adding_window{
    position: relative;
    
    max-width: 650px;
    height: 600px;
    border: 2px solid  #348f41;
    
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
    margin: 90px auto;
    font-family: sans-serif;
    background-color: #fff;
    border-radius: 25px;
    
}

.adding_title{
    width: 80%;
    display: flex;
    justify-content: center;
    height: 17%;
    margin:0 auto;
    border-bottom:1px solid  #348f41;
    position: relative;
    margin-bottom: 15px;
}

.adding_title span{
    position: absolute;
    bottom: 10%;
    font-size: 24px;
    color:rgb(66, 63, 63);
    font-weight: bold;
}


.close_btn{
    position: absolute;
    right: 9px;
    top: 7px;
    width: 25px;
    height: 25px;
    background-color: #348f41;
    color:white;
    border-radius:30px;
    border: 0px;
    transition: 0.4s;

}

.close_btn:hover{
    background-color: red;
    cursor: pointer;
}

.adding_box{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adding_box input
{
    border: 1px solid #348f41;
    border-radius: 2px;
    width: 80%;
    height:50%;
    border-radius: 15px;
    display: block;
    padding-left: 10px;
    
}

.floating_title{
    position: absolute;
    top: 15%;
    left: 13%;
    font-size: 10px;
    display: block;
    background-color:white;
    color:rgb(134, 131, 131);
}

textarea {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
    outline:none;
    background-color: #fff;
    border-radius: 15px;
    padding: 1%;
    border: 1px solid #348f41;
    color: black;
    resize: none;
  }
  
  textarea::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  textarea::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  textarea::-webkit-scrollbar-thumb {
    background: #348f41;
  }
  
  /* Handle on hover */
  textarea::-webkit-scrollbar-thumb:hover {
    background: #0f571e;
  }

  .book_descr_box{
      height: fit-content;
      margin-top: 13px;
  }


  .book_descr_box .floating_title{
    top: -3%;
    left: 13%;
  }

  