body {
  width: 100%;
  margin: 0;
  padding: 75px 0 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {outline:none;}

h1{
  color: #348f41;
}
h2{
  color: #348f41;
}
h3{
  color: #348f41;
}
p{
  color: #348f41
}

*{
  border: none;
}
.hide{
  visibility: hidden;
}
.visible{
  visibility: visible;
}
