.info{
    width:96%;
    padding: 2%;
}

.info .imgCover{
    float: left; display: block;
    width: 25%;
    height: 100%;
    padding: 1%;
    background-color: #348f41;
    border-radius: 15px;
}
.info .bookImg{
    height: 98%;
    width: 98%;
    object-fit: contain;
    box-shadow: 0 0 10px 5px #0f571e;
}


.info .bookInfo{
    height: 100%;
    line-height: 1em;
    margin: 0;
    padding: 2%;
    inline-size: 0;
    float: right; display: block;
    width: 65%;
    border: 2px solid #b0b3b2;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px #b0b3b2;
    background: linear-gradient(#b0b3b2, #fff);
}