.carouselList{
    list-style: none;
    white-space:nowrap;
    overflow-x: scroll;
    padding-inline-start: 5px;


}
.carouselList li{
    display: inline-block;

    padding:0;
    margin: 0 0 30px;

}

/* width */
.carouselList::-webkit-scrollbar {
    width: 10px;
    height: 15px;
    margin-left: 10%;
}

/* Track */
.carouselList::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.carouselList::-webkit-scrollbar-thumb {
    background: #88cb01;
}

/* Handle on hover */
.carouselList::-webkit-scrollbar-thumb:hover {
    background: #70a701;
}